# Ignore all generated plots
*.png
*.jpg
*.pdf
*.eps
# and tables too
*.tex
*.aux
# and *gasp* text files
*.txt

# Log files
*.log
*.out

# ACLiC files
*_C.d
*_C.so
*ACLiC*

# soft links
Skimmed/
SkimmedSamples/
UnskimmedSamples/

# generated root files
BP/**/*.root
Bs/**/*.root